<p-menubar [model]="items" [autoDisplay]="false">
  <div>
      <input type="text" pInputText placeholder="Search">
      <button pButton label="Logout" icon="pi pi-times" style="margin-left:.25em"></button>
  </div>
</p-menubar>

<div class="flex-container">
  <div class="flex-column-1">
    <p-card>
      <p-header>
        <img src="https://via.placeholder.com/150x150" alt="Profile">
      </p-header>
    </p-card>
  </div>
  <div class="flex-column-2">
    <app-timeline></app-timeline>
  </div>
  <div class="flex-column-1">:D</div>
</div>