<div *ngIf="tweet" class="tweet">
  <img src="https://via.placeholder.com/48x48" alt="Tweet author pic">
  <div class="tweet-content">
    <div class="tweet-header">
      <a href="#">
        <span class="fullname"><b>Author</b></span>
        <span class="username">@Peter</span>
        <p-button *ngIf="isEditing"
                  (click)="isEditing = false; update()"
                  icon="pi pi-check" style="float: right;"></p-button>
        <p-button (click)="isEditing = !isEditing"
                  icon="pi pi-pencil" style="float: right;"></p-button>
      </a>
    </div>
    <div class="tweet-body">
      <p *ngIf="!isEditing">{{ tweet.text }}</p>
      <textarea *ngIf="isEditing"
                [(ngModel)]="tweet.text"
                (keydown.esc)="isEditing = false"
                class="expanded"
                pInputTextarea></textarea>
    </div>
    <div class="tweet-footer">
      <div class="retweet-counter">
        <span>{{ tweet.numRts }}</span>
        <i class="pi pi-refresh"></i>
      </div>
      <div class="fav-counter">
        <span>{{ tweet.numFavs }}</span>
        <i class="pi pi-star-o"></i>
      </div>
    </div>
  </div>
</div>